.btn {
	background-color: #20262e;
	color: #e9e8e8;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: 0.3s;
}

.btnCancel {
	background-color: transparent;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: 0.3s;
	margin: 1rem;
	margin-left: 0;
	border: 1px solid #20262e;
}

input {
	outline: none;
	border: none;
	margin-right: 1rem;
}
.todoContainer {
	display: flex;
	flex-direction: column;
	width: min(100%, 500px);
}
.todoItem {
	padding: 1rem;
	background-color: #20262e;
	color: #e9e8e8;
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	transition: 0.3s;
}
